<h1><%= current_user.name %>'s Games</h1>


  <%= form_for(@game) do |f| %>
    <%= f.submit "Create new game" %>
  <% end %>
<ul>
  <% current_user.games.each do |game| %>

    <li>
      Game created <%= time_ago_in_words(game.created_at) %> ago
      <% if game.game_over %>
        <% if game.door_open %>
          You escaped!
        <% else %>
          Horrifying Death.
        <% end %>
      <% else %>
        Undetermined.
        <%= link_to 'Play', game_path(game) %>
      <% end %>
      
      <%= link_to 'Delete Game', game_path(game),
            method: :delete, 
            data: { confirm: 'Are you sure?' } %>
    </li>

    
  <% end %>
</ul>