<div class="container">
<h1><%= current_user.name %>'s Games</h1>

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>

  <%= form_for(@game) do |f| %>
    <%= f.submit "Create new game", class: "btn btn-primary" %>
  <% end %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Created</th>
      <th>Status</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.games.each do |game| %>
      <tr>
        <td><%= time_ago_in_words(game.created_at) %> ago</td>

        <% if game.game_over %>
          <% if game.door_open %>
            <td class="success">You escaped!</td>
          <% else %>
            <td class="danger">Horrifying Death.</td>
          <% end %>
        <% else %>
          <td>In Progress.</td>
        <% end %>
        <td>
          <%= link_to 'Delete', game_path(game),
              method: :delete, 
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% if !game.game_over %>
            <%= link_to 'Play', game_path(game), class: "btn btn-primary" %>
          <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  

