<div class="container game-container">

  <div class="row">
  <!-- ROOM IMAGE & ALERTS -->
    <div>
      <div class="room_image_box col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
        <%= image_tag("Room.png", class: "room_images") %>

        <% if @game.paper_has %>
          <%= image_tag("paper_has.png", class: "room_images") %>
        <% elsif @game.paper_content.length > 0 %>
          <%= image_tag("paper_content.png", class: "room_images") %>
        <% end %>

        <% if @game.puzzlebox_has %>
          <%= image_tag("puzzlebox_has.png", class: "room_images") %>
        <% elsif @game.puzzlebox_open %>
          <%= image_tag("puzzlebox_open.png", class: "room_images") %>
        <% end %>

        <% if @game.mop_has %>
          <%= image_tag("mop_has.png", class: "room_images") %>
        <% end %>

        <% if @game.desk_open %>
          <%= image_tag("desk_open.png", class: "room_images") %>
        <% end %>
        <% if @game.knife_has %>
          <%= image_tag("knife_has.png", class: "room_images") %>
        <% end %>
        <% if @game.pen_has %>
          <%= image_tag("pen_has.png", class: "room_images") %>
        <% end %>

        <% if !@game.outlets_on && @game.floor_wet%>
          <%= image_tag("outlets_off.png", class: "room_images") %>
        <% elsif !@game.floor_wet %>
          <%= image_tag("floor_dry.png", class: "room_images") %>
        <% end %>

        <% if @game.gloves_has %>
          <%= image_tag("gloves_has.png", class: "room_images") %>
        <% end %>

        <% if @game.glassbox_open %>
          <%= image_tag("glassbox_open.png", class: "room_images") %>
        <% end %>

        <% if @game.circuitbox_open %>
          <%= image_tag("circuitbox_open.png", class: "room_images") %>
        <% end %>

        <% if @game.turns_remain <= 2 %>
          <% if @game.turns_remain <= 1 %>
            <%= image_tag("horror_in_room.png", class: "room_images") %>
          <% else %>
            <%= image_tag("entrance_open.png", class: "room_images") %>
          <% end %>
        <% end %>

        <% if @game.door_open %>
          <%= image_tag("exit_open.png", class: "room_images") %>
        <% end %>
      </div>

      <!-- ALERTS -->
      <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
        <% if flash[:alert] %>
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:notice] %> 
          </div>
        <% elsif flash[:notice] %>
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- GAME FORM -->
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6 game_box">
      <%= form_tag('/act_on_object', method: :get, class: 'form-horizontal') do %>
        <div class="form-group">
          <%= label_tag 'Select Action', nil, class: 'col-xs-5 form_labels' %>
          
          <div class="col-xs-7">
            <%= select_tag(:action_select, options_for_select([["Get", :get], ["Use", :use], ["Open", :open], ["Inspect", :inspect]]), class: "btn btn-primary") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag 'Select Object', nil, class: 'col-xs-5 form_labels' %>
          
          <div class="col-xs-7">
            <%= select_tag(:object_select, options_for_select([["Gloves", :gloves], ['Mop', :mop], ['Knife', :knife], ["Door", :door], ["Desk", :desk], ["Pen", :pen], ["Paper", :paper], ["Key", :key], ["Glass Box", :glassbox], ["Circuit Box", :circuitbox], ["Outlet", :outlet], ["Puzzle Box", :puzzlebox], ["Nameless Horror", :horror]]), class: "btn btn-primary") %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag 'Use object on (optional)', nil, class: 'col-xs-5 form_labels' %>
          
          <div class="col-xs-7">
            <%= select_tag(:use_on, options_for_select([['', nil], ["Gloves", :gloves], ['Mop', :mop], ['Knife', :knife], ["Door", :door], ["Desk", :desk], ["Pen", :pen], ["Paper", :paper], ["Key", :key], ["Glass Box", :glassbox], ["Circuit Box", :circuitbox], ["Outlet", :outlet], ["Puzzle Box", :puzzlebox], ["Nameless Horror", :horror], ["Puddle", :puddle]]), class: "btn btn-primary") %>
          </div>
        </div>
        
        <%= hidden_field_tag :game_id, params[:id] %>

        <div class="form-group">
          <%= label_tag '', nil, class: 'col-xs-5 form_labels' %>
          
          <div class="col-xs-7">
            <%= submit_tag 'Commit Action', class: "btn btn-primary" %>
          </div>
        </div>          
      <% end %>
    </div>

    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
      <div class="collapse" id="viewdetails">
        <p><%= @game.room_description %></p>
        <p><%= @game.door_description %></p>
        <p><%= @game.desk_description %></p>
        <p><%= @game.mop_description %></p>
        <p><%= @game.glassbox_description %></p>
        <p><%= @game.circuitbox_description %></p>
      </div>
      <a class="btn btn-primary showdetails" data-toggle="collapse" data-target="#viewdetails"></a>

      <table class="table table-condensed table-hover">
        <thead>
          <tr><th>Inventory</th></tr>
        </thead>
        <tbody>
          <% if @game.gloves_has %>
            <tr><td>Gloves</td></tr>
          <% end %>
          <% if @game.mop_has %>
            <tr><td>Mop</td></tr>
          <% end %>
          <% if @game.knife_has %>
            <tr><td>Knife</td></tr>
          <% end %>
          <% if @game.pen_has %>
            <tr><td>Pen</td></tr>
          <% end %>
          <% if @game.paper_has %>
            <tr><td>Paper</td></tr>
          <% end %>
          <% if @game.puzzlebox_has %>
            <tr><td>Puzzle Box</td></tr>
          <% end %>
          <% if @game.key_has %>
            <tr><td>Key</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


